:root{
    --black:#181722;
    --white:#f0f0f0;
    --orange:#660029;
    --box-shadow:0px 4px 4px rgba(0,0,0,0.25);

}
*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    background-color: var(--white);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}

.header{
    top: 0;right: 0;left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
    border-bottom: rgb(202, 202, 202) 1px solid;
    
}
.header .logo-content{
    display: flex;
    align-items: center;
}
.header .logo-content .logo img{
    height: 8rem;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--orange);
    font-weight: bold;
}
.header .navbar a:hover{
    border-bottom: .1rem solid var(--orange);
    padding-bottom: .4rem;
}
.header .icon i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--orange);
    cursor: pointer;
}
.header .search{
    display: none;
    top: 100%;
    margin: 1.5rem 7%;
    background-color: transparent;
    width: 50%;
    right: 0;
    height: 5rem;
    position:  absolute;

}
.header .search input{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--orange);
    margin-right: 7%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
}

.header .search.active{
    display: inline-block;
}
#menu-bar{
    display: none;
}
.container{
    margin-top: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    line-height: 45px;
    color: black;
}
.container-left{
    padding-left: 30px;
}
.container-left .heading{
    font-size: 30px;
    padding-top: 20%;
}
.container-left .subheading{
    font-size: 20px;
}
.container-left .subheading span{
    color: var(--orange);
    font-size: 30px;
}
.category{
    padding:10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: var(--orange);
    color: white;
    border: 1px solid var(--orange);
    box-shadow: 0 0  3px 1px var(--orange);
    margin-top: 10px;
}
.category:hover{
    background-color: transparent;
    box-shadow: 0 0  3px 1px var(--white);
    color: black;
    transition: 0.7s;
}

.image-container {
    width: 50%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin-top: 60px;
}

.image-container img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    transition: opacity 1s ease-in-out;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    width: 300px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.card-content p {
    margin: 0;
    color: #555;
}

.card:hover {
    transform: scale(1.05);
}